<% content_for :right do %>
  <h2>Wszystkie zamówienia</h2>
  <ul>
  <% @orders.each do |t| %>
    <li><%= link_to ("Zamówienie nr "+t.id.to_s), admin_order_path(t.id) %>
  <% end %>
  </ul>  
<% end %>


