<% content_for :right do %>
  <p><b>Wszystkie produkty</b></p>
  <% @products.each do |product| %>
    <div class="product">
      <%= product.name %>
      <%= link_to "Więcej", product %>
    </div>
  <% end %>
<% end %>
