<% content_for :left do %>
<p><b>Wszystkie kategorie</b></p>
<div id="menu">
</div>
<script type='text/x-handlebars-template' id='category-list-template'>
  <a href="#" onclick="useCase.showCat( {{this.id}} )">
    {{ this.name }}
  </a>
	<br/ >
</script>
<% end %>
<% content_for :right do %>
  <p><b>Wszystkie produkty</b></p>
  <div id='products-div'>
  </div>
<script type='text/x-handlebars-template' id='product-list-template'>
  <div class="product">
    {{ this.name }}
    <a href="#" onclick="useCase.showProd( {{ this.id }} )">Wiecej</a>
  </div>
</script>
<script type='text/x-handlebars-template' id='product-template'>
  <ul>
    <li>Nazwa: {{ this.name }}
    <li>Opis: {{ this.desc }}
    <li>Kategoria: {{this.catname}}
    <li>Cena: {{ this.price }}
  </ul>
  <a href="#" onclick="useCase.addToCart({{ this.id }})">Dodaj do koszyka</a>
</script>
<% end %>
