/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.container { }
div.top { height:100px; text-align:center;}
div.left { float:left; margin-left:-120px; width:120px; background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #2446EF 100%);}
div.right {  padding-left:120px; background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);}
div.footer { height:50px; background-color:light yellow; clear:both; font-size:small; text-align:center; }

div.product {border:2px solid red; margin:2px;  float:left; width:150px; height:150px;}
