<% content_for :right do %>
  <h2>Produkty w kategorii: <%= @category.name %></h2>
  <% @products.each do |product| %>
    <div class="product">
      <%= product.name %>
      <%= link_to "Więcej", product %>
    </div>
  <% end %>
<% end %>
