<% content_for :right do %>
  <h2><%= @product.name %></h2>
  <h3>Opis przedmiotu:</h3>
  <%= @product.description %>
  <h3>Cena:</h3>
  <b><%= @product.price / 100 %></b>
  <br />
  <br />
  <%= link_to "Strona główna", root_url %>
<% end %>
